{% extends "main/base.html" %}

<title>{% block title %}{{person.name}}{% endblock title %}</title>

{% load static %}
{% block content %}
{% if person %}
<div class="container py-5 my-5 ">
 <div class="card  border-dark border-1"> 
     
        <div class="card-body">
            <h3 class="card-title text-center mt-3 ms-5 mb-3">{{person.name|safe}} ({{age}}{% if died %} <i class="fa fa-cross fa-xs"></i> {% endif %})</h3>
           
           
            <div class="row">

                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img src="https://image.tmdb.org/t/p/w500{{ person.profile_path }}" class="img-responsive" style="height:600px;width:430px;"></div>
                    <a href="{% url 'person_reviews' person.id %}" class="button-cards py-2 my-2 ms-5"><i class="fa-solid fa-comment"></i></a>
                </div>

                <div class="col-lg-7 col-md-7 col-sm-6">
                    <small class="mx-1 box-title "></small>
                    <small class="mx-2"> </small>
                    {% if rating %}
                        <h5 class="py-2 my-2 ms-2">Rate about <a href="{% url 'person_rate_summary' person.id %}"> {{count}} </a> site user rating: <span class="badge bg-success">{{average_rate}} %</span></h5>
                    {% endif %}
                    <h4 class="box-title mt-5">Bio</h4>
                    <div class="ScrollStyle movie-date mb-5">
                        <p>{{person.biography}}</p>
                    </div>
                    <h6 class="mt-5 box-title">
                        Url:</br>{% if person.homepage  %} <small class="card-text movie-date"><a href={{person.homepage}}>{{person.homepage}}</a></small>{% endif%}
                    </h6>
                        
                   
           
                    <ul class="list-unstyled">
                        
                        <h6 class="mt-2 box-title">Born:</h6>
                        <li class="mb-1 staff-list" >{{person.birthday}} - {{person.place_of_birth}}</li>
                        {% if person.deathday %}
                        <h6 class="mt-2 box-title">Died:</h6>
                        <li class="mb-1 staff-list">{{person.deathday}}</li>
                        {% endif %}
                        
                    </ul>
                    <div class="d-flex justify-content-end">
                        <a class="button-cards my-5 me-5" href="javascript:history.back()">back</a>
                    </div>

                </div>    
            

                <!--teszt-->
                <hr>
                    <div class="container  mx-5 py-3">
                     <h3 class="text-center py-4">Movies</h3>
                        <div class="row  text-center">
                        {% for cast in casts|slice:20%}
                            <div class="col-md-3">
                                {% if cast.poster_path%}
                                <img class="mx-2 py-5" src="https://image.tmdb.org/t/p/w500{{cast.poster_path }}" style="max-width:40%;" >
                                {% else %}
                                <img class="mx-2 py-5" src="{% static 'default_images/default.jpg' %}" style="max-width:40%;" >
                                
                                {% endif %}
                                <p class="text-center"><a href="{% url 'movie_detail' cast.id %}">{{cast.title}}</a></p>
                            </div>
                        {% endfor %}
                        </div>
                    </div>


                <!--teszt-->

         


            </div>
        </div>
    </div>
    
</div>
{% endif %}

{% endblock content %}